{
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"arrowParens": "always",
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"proseWrap": "always",
	"printWidth": 110,
	"endOfLine": "auto"
}
